@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    font-family: Oswald, sans-serif;
    background-color: #ffffff;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
/*
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
*/
}


h1 {
    font-family: Oswald, sans-serif;
    text-align: center;
}

h2,
h3 {
    text-align: center;
}

#mainJumbotron {
    color: whitesmoke !important;
    background-color: transparent !important;
    font-size: 40px;
}

.myBtn {
    color: #fff;
    background-color: transparent;
    border: 2px solid;
    padding: 8px 30px;
    border-radius: 0;
    font-size: 15px;
}

.defBtn {
/*    border: 2px solid;*/
    padding: 8px 30px;
    border-radius: 0;
    font-size: 13px;
}

.modalBtn {
    color: #4cae4c;
    background-color: transparent;
}

.modalBtnClose {
    color: #ac2925;
    background-color: transparent;
}


/*
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
align-content: center
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
*/

#details:hover {
    text-decoration: none;
    background-color: #ffffff;
}

.panel-clear {
    background-color: transparent !important;
    border: none !important;
}

.title {
    text-transform: uppercase;
    color: #1A1A1A;
    font-weight: 300;
}

.sub-title {
    text-transform: uppercase;
    color: darkgray;
    font-weight: lighter;
}

.sub-title-natural {
    color: #1A1A1A;
    font-weight: normal;
}
