@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    font-family: Oswald, sans-serif;
    background-color: #f7f7f7;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

h1 {
    font-family: Oswald, sans-serif;
    text-align: center;
}

#mainJumbotron {
    color: whitesmoke !important;
    background-color: transparent !important;
}

.myBtn {
    color: #fff;
    background-color: transparent;
    border: 2px solid;
}

.modalBtn {
    color: #4cae4c;
    background-color: transparent;
}

.modalBtnClose {
    color: #ac2925;
    background-color: transparent;
}

#details:hover {
    text-decoration: none;
    background-color: #ffffff;
}

.panel-clear {
    background-color: transparent !important;
    border: none !important;
}
