<br/>
<div ng-show="submitted" class=modal-header>
    <div ng-show="success" class="alert alert-success" role="alert">Relax, Smile, the chef got your order!!</div>
</div>
<div class="modal-body">
    <form role="form" ng-submit="submitOrder()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input  type="email" class="form-control" id="exampleInputEmail1" ng-model="email">
        <small class="text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="checkbox">
    <small class="text-muted"><input style="width:4%" type="checkbox" ng-model="dl">Add my email to the VIP list</small>
  </div>


      <div class="form-group">
        <label for="exampleTextarea">Comments (your chef is listening)</label>
        <textarea  class="form-control" id="exampleTextarea" rows="3" ng-model="comments"></textarea>
      </div>

      <button type="submit" class="btn btn-success btn-lg modalBtn" >Order</button>
    </form>
</div>
<br/>
