<div class="container">
    <br/>
    <div ng-show="submitted" class="modal-header">
        <div ng-show="success" class="alert alert-success" role="alert">We'll keep you posted</div>
    </div>

    <div class="modal-header">
        <div class="text-center">SUBSCRIBE</div>

    </div>
    <div class="modal-body">

<!--        <div class="container">-->
            <div class="row">
                <div class="col-offset-sm-3 col-sm-6">
                    <p><small>Join our mailing list to get GiantOK's weekly email
                   and status updates of your order</small></p>
                </div>

            </div>

            <div class="row">
                <div class="col-offset-sm-3 col-sm-6">
                    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="email" placeholder="Put your email here">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-offset-sm-3 col-sm-6">
                    <a href="" style="width:100%" ng-click="submitOrder()" class="btn btn-primary btn-lg defBtn">Join</a>
                </div>
            </div>

<!--        </div>-->
    </div>
    <br/>
</div>
