<div class=container>
    <br>
    <div class="row">
        <a href="#/admin/console">Back to Console</a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="font-size:50px" class="page-header">{{orders.length}} Orders</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a ng-class="{'bg-primary': isActive}" href="" ng-click="getOrders(true)">ACTIVE   </a> | <a href="" ng-click="getOrders(false)" ng-class="{'bg-primary': !isActive }">ALL   </a>
        </div>
        <div class="col-sm-3">
            <a ng-click="deactivateOrders()" href="" class="text-danger">DEACTIVATE</a>
        </div>
    </div>
    <br>
    <div ng-repeat="order in orders">
        <div class="row">
            <div class="col-md-12">
                <div class="panel" ng-class="{true: 'panel-primary', false: 'panel-default'}[order.active]">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{order.email}}</h3>
                    </div>
                    <div class="panel-body">
                        <b>Dish:</b>
                        <p class="text-muted">{{order.dishName}}</p>
                        <b>Comments: </b>
                        <p class="text-muted">{{order.comments}}</p>
                        <b>Payment: </b>
                        <p ng-show="order.payment == 1" class="text-muted">Cash ${{order.amount}}</p>
                        <p ng-show="order.payment == 2" class="text-muted">PayPal ${{order.amount}}</p>
                        <b>Created on: </b>
                        <div class="text-muted">{{order.createdAt | date: 'MMM d, y HH:mm'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
