<div class="container">

    <video muted autoplay="" loop="" class="fillWidth fadeIn animated" id="video-background">
        <source src="video/343379421.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

    <!-- Jumbotron Header -->
    <header id="mainJumbotron" class="jumbotron hero-spacer">
        <h1>The Weekly Dish</h1>
        <h2>{{dish.name}}</h2>
        <p>{{dish.description}}</p>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 text-center">
                <div class="clearfix">
                    <div class=" inline" >
                        <a id="orderBtn" class="btn btn-default btn-lg myBtn"  ng-click="open('sm', true)">Order Now</a>
                        <a id="subscribeBtn" class="btn btn-default btn-lg myBtn" ng-click="open('sm', false)">Subscribe</a>
                    </div>
                </div>
            </div>

        </div>
        <p>
        </p>
    </header>

</div>
