<div class="container-fluid">
    <div id="dishImg"><img src="img/dish{{dish.id}}.jpg" alt="" class="img-responsive dishImg"></div>
</div>

<br>

<div class="col-lg-12">
    <h2 class="title" style="font-size:50px">{{ dish.name }}</h2>

    <div class="col-md-offset-2 col-md-8 text-center">
        <!--        <p class="sub-title">{{ dish.shortDesc }}</p>-->
        <p><small>{{ dish.shortDesc }}</small></p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
        <div class="clearfix">
            <div class="inline">
                <a ng-show="dish.isWeekly" class="btn btn-default btn-lg myBtn advBtn" ng-click="open('sm')">I WANT TO ORDER THIS - $10.00</a>
                <a ng-click="gotoElementId('reviews')" class="btn btn-default btn-lg myBtn advBtn-blck">I WANT TO SEE THE REVIEWS</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--Dish details-->
<div class="bck-row">
    <br/>
    <br/>
    <h3>ABOUT THE MEAL</h3>
    <div class="container">
        <div class="row ">
            <div class="col-md-offset-2 col-md-8 text-center">
                <p class="sub-title-natural">{{ dish.description }}</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <h3>INGREDIENTS</h3>
            <div class="col-md-offset-2 col-md-8 text-center">
                <p class="sub-title-natural">{{ dish.ingredients }}</p>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>



<!--Dish Reviews-->
<div class="row" id="reviews">
    <br>
    <br>
    <div class="container">
        <h3>REVIEWS</h3>
        <br>
        <div class="col-md-9">
            <div ng-repeat="review in reviews">

                <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-left">{{review.name}}  <small>    {{review.createdAt | date: 'MMM d, y HH:mm'}} </small></h3>
                            <small> <span ng-repeat="i in range.slice(0,review.score) track by $index" class="glyphicon glyphicon-heart" aria-hidden="true" />  </small>
                        </div>
                        <div class="panel-body">
                            <p class="text-muted">{{review.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a ng-click="gotoElementId('addReview')" class="btn btn-default btn-lg defBtn" >ADD A REVIEW</a>
        </div>
    </div>
</div>

<hr>
<div id="addReview" class="row">
    <br>
    <div class="container">
        <h3>ADD A REVIEW <small> ...</small></h3>
        <br>
        <div>
            <div class="row-pad">
                <input type="name" placeholder=" Enter your name here" title="Your Name" class="form-control" id="name" ng-model="review.name">
            </div>

            <div class="row-pad">
                <div class="btn-group" role="group" aria-label="..." ng-init="score=0">
                    <button ng-click="review.score = 1" ng-class="{'btn-selected': review.score===1}" ng-mouseover="label = ' I hate it'" ng-mouseleave="label =''" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true" /></button>

                    <button ng-click="review.score = 2" ng-class="{'btn-selected': review.score===2}" ng-mouseover="label = ' I don\'t like it'" ng-mouseleave="label =''" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true" ng-repeat="i in range.slice(0,2) track by $index" /></button>

                    <button ng-click="review.score = 3" ng-class="{'btn-selected': review.score===3}" ng-mouseover="label = ' It\'s okay'" ng-mouseleave="label =''" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true" ng-repeat="i in range.slice(0,3) track by $index" /></button>

                    <button ng-click="review.score = 4" ng-class="{'btn-selected': review.score===4}" ng-mouseover="label = 'I like it'" ng-mouseleave="label =''" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true" ng-repeat="i in range.slice(0,4) track by $index" /></button>

                    <button ng-click="review.score = 5" ng-class="{'btn-selected': review.score===5}" ng-mouseover="label = ' I love it'" ng-mouseleave="label =''" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true" ng-repeat="i in range.slice(0,5) track by $index" /></button>
                    <span>{{label}}</span>
                </div>
            </div>
            <div class="row-pad">
                <textarea placeholder="Write your review here" class="form-control" id="exampleTextarea" rows="4" ng-model="review.content"></textarea>
            </div>
            <div class="row-pad">
                <a ng-disabled="disableAddReview()" ng-click="addReview()" class="btn btn-info btn-lg defBtn">ADD REVIEW</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<style>
    .btn-selected {
        background-color: #999999;
    }

    .row-pad {
        margin-bottom: 10px;
    }

    .advBtn {
        color: #1A1A1A;
        border-color: #FDD513;
        background-color: #FEE778;
        font-size: 13px;
    }

    .advBtn-blck {
        background-color: #1A1A1A;
        color: white;
        border-color: #1A1A1A;
        font-size: 13px;
    }

    .bck-row {
        background-color: #F7F7F7;
    }

    #dishImg {
        margin: 0 auto;
        padding: 0 !important;
        max-width: 70%;
        max-height: 70%;
    }
</style>
